.input-box-todo{
    padding: 12px;
    border: 2px solid red;
    border: none;
    border-radius: 12px;
}
.add-btn{
    background-color: rgb(4, 4, 93)
    ;
    padding: 15px;
    color: white;
    border-radius: 50px;
    border: none;
    margin: 0 10px;
    font-size: 25px;
}